In [1]:
## Create visualizations that help see the correlation between U.S. states and salary.

In [2]:
# Import dependancies.
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from pathlib import Path

# Add Matplotlib inline magic command.
%matplotlib inline

In [5]:
# Load in csv file.
salaries_by_region_to_load = "Final_Project/salaries_by_region.csv"
# Read csv file into Pandas dataframe.
region_df = pd.read_csv(salaries_by_region_to_load)

region_df.head(10)

,School Name,Region,Starting Median Salary,Mid-Career Median Salary,Mid-Career 10th Percentile Salary,Mid-Career 25th Percentile Salary,Mid-Career 75th Percentile Salary,Mid-Career 90th Percentile Salary
0,Stanford University,California,"$70,400.00","$129,000.00","$68,400.00","$93,100.00","$184,000.00","$257,000.00"
1,California Institute of Technology (CIT),California,"$75,500.00","$123,000.00",NaN,"$104,000.00","$161,000.00",NaN
2,Harvey Mudd College,California,"$71,800.00","$122,000.00",NaN,"$96,000.00","$180,000.00",NaN
3,"University of California, Berkeley",California,"$59,900.00","$112,000.00","$59,500.00","$81,000.00","$149,000.00","$201,000.00"
4,Occidental College,California,"$51,900.00","$105,000.00",NaN,"$54,800.00","$157,000.00",NaN
5,Cal Poly San Luis Obispo,California,"$57,200.00","$101,000.00","$55,000.00","$74,700.00","$133,000.00","$178,000.00"
6,University of California at Los Angeles (UCLA),California,"$52,600.00","$101,000.00","$51,300.00","$72,500.00","$139,000.00","$193,000.00"
7,"University of California, San Diego (UCSD)",California,"$51,100.00","$101,000.00","$51,700.00","$75,400.00","$131,000.00","$177,000.00"
8,Pomona College,California,"$48,600.00","$101,000.00",NaN,"$63,300.00","$161,000.00",NaN
9,University of Southern California (USC),California,"$54,800.00","$99,600.00","$49,700.00","$73,800.00","$140,000.00","$201,000.00"

In [8]:
# Drop all other columns besides 'Region' and 'Starting Median Salary'.
region_df.drop(columns=['School Name', 'Mid-Career Median Salary', 'Mid-Career 10th Percentile Salary', 'Mid-Career 25th Percentile Salary', 'Mid-Career 75th Percentile Salary', 'Mid-Career 90th Percentile Salary'])

           Region Starting Median Salary
0      California             $70,400.00
1      California             $75,500.00
2      California             $71,800.00
3      California             $59,900.00
4      California             $51,900.00
..            ...                    ...
315  Northeastern             $38,000.00
316  Northeastern             $36,900.00
317  Northeastern             $37,800.00
318  Northeastern             $39,400.00
319  Northeastern             $43,700.00

[320 rows x 2 columns]

In [13]:
# Find the totals for each region.
region_df['Region'].value_counts()

Northeastern    100
Southern         79
Midwestern       71
Western          42
California       28
Name: Region, dtype: int64